body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #111;
}

button {
    padding: 10px 20px;
    background-color: #017bff;
    color: white;
    border: white;
    cursor: pointer;
}
